body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-fixed-top {
    z-index: 9999;/* required so that popovers don't get over */
}

.navbar-brand {
    font-size: 16px;/* Should not be bigger to make room to navbar toggle button*/
}

footer {
    margin: 50px 0;
}