{
    "restrictCreationByEmailDomain": "domain.com",
    "predefinedData":[
            {
                "name": "Test",
                "img": "http://www.something.com/image.png",
                "description": "A description.",
                "votes": 0
            },
            {
                "name": "Test 2",
                "img": "http://www.something.com/image.png",
                "description": "A description.",
                "votes": 0
            }
    ],
    "clientTimezone": "Europe/Paris",
    "votingPeriod": {
        "hourStart": "23",
        "minuteStart": "0",
        "hourEnd": "23",
        "minuteEnd": "10"
    },
    "kadira": {
        "appId": "APP_ID",
        "appSecret": "APP_SECRET"
    }
}